<head>
  <title>List</title>
</head>
 
<body>
<div class="container"
  ng-app="simple-todos"
  ng-controller="TodosListCtrl">

  <header>
    <h1>List</h1>
  </header>
 
  <ul>
    <p> User Name</p>

    <li ng-repeat="user in users">{{user.UserName}}</li>
  </ul>

  <form class="new-item" ng-submit="addUser(newUserName,newUserPassword); newUserName=''; newUserPassword='';">
      <input ng-model="newUserName" type="text"
             name="UserName" placeholder="Type to add new User Name" />
      <input ng-model="newUserPassword" type="password"
             name="UserPassword" placeholder="Type to add new User Password" />
    </form>
</div>
</body>